
.about-img img {
    border: double 5px #00947e;
    padding: 2px;
  }

.about-me-container {
  display: flex;
  justify-content: center;
}

.dark-hr {
  background-color: #00947e;
  height: 1px;
}

.contact-section { 
  background-color: #056676;
}
